body {
    background-color: #1b9aaa;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.testtext {
    color: #1b9aaa;
}


.home{
    margin-top:  68px;
}

.nav-link:hover {
    color: #1b9aaa;
}



.cvbutton {
    width: 150px;
    height: 50px;
    
}

.nav {
    height: 150px;
    font-size: 20px;
}
.about{
    margin-top: 320x;
}

.nav:hover {
    text-decoration: underline;
}

.blogs {
    margin-top: 100px;
}

.card {
    height: 100%;
}

/* Zorg ervoor dat de afbeeldingen de volledige hoogte van de kaart innemen en worden bijgesneden indien nodig */
.card-img-top {
    object-fit: cover;
    height: 200px; /* Stel de hoogte van de afbeelding in */
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Donkere achtergrondkleur */
    color: #ffffff; /* Witte tekstkleur */
    padding: 20px; /* Optionele opvulling voor de inhoud van de footer */
  }

  .content {
    padding-bottom: 60px;
  }

  .btn {
    color: white;
    background-color: #424bb3;
    width: 100px;
    border: 2px solid white;
  }