body {
    background-color: #add8e6;
    overflow-x: hidden;
}

.testtext {
    color: #add8e6;
}

.ardafoto {
    float: right;
    width: 250px;
    margin-right: 45px;
    height: 550px;
    margin-top: 75px;
    margin-right: 170px;
}
